<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <!--li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li-->
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('STASH')" data-ng-class="{active: currency.symbol == 'STASH'}">STASH</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mSTASH')" data-ng-class="{active: currency.symbol == 'mSTASH'}">mSTASH</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uSTASH')" data-ng-class="{active: currency.symbol == 'uSTASH'}">uSTASH</a>
  </li>
</ul>

